<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>TransDana</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{admin/header_admin :: header}"></div>

<div class="container-fluid">
    <br>
    <h5 class="text-center">[[${pageTitle}]]</h5>

    <div class="my-3">
        <form th:action="@{/admin/car/save}" method="post" enctype="multipart/form-data" th:object="${car}"
              style="width:80%; max-width: 400px; margin: 0 auto">

            <input type="hidden" th:field="*{id}"/>

            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="number">Number</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{number}" required minlength="2" maxlength="128"
                               class="form-control"
                               id="number"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="tonnage">Tonnage</label>
                    <div class="col-sm-9">
                        <input type="number" th:field="*{tonnage}" minlength="1" maxlength="10"
                               class="form-control"
                               id="tonnage"/>
                    </div>
                </div>


                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="status">Status (working/repair)</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{status}" minlength="2" maxlength="256"
                               class="form-control"
                               id="status"/>
                    </div>
                </div>

               <div class="text-center" style="width:100%;">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2"/>
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm"/>
                </div>

            </div>
        </form>
    </div>
</div>

<!--<div th:replace="operator/footer :: footer"></div>-->

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").on("click", function () {
            window.location = "[[@{/admin/cars}]]";
        });
    });
</script>

</body>

</html>