<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>TransDana logistics</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/users/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="~{admin/header_admin :: header}"></div>

<div class="container-fluid" style=" width: 90%; max-width: 500px; margin: 0 auto; font-size: 14px;">
    <br>
    <h4 class="text-center">The Cars</h4>
    <br>


    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div th:if="${cars.size()> 0}">
        <table class="table table-hover table-responsive-xl"
               style="align-content: center;align-content: center;">
            <thead class="thead-light">
            <tr>
                <th scope="col">Number</th>
                <th scope="col">Tonnage</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="car:${cars}">
                <th scope="row">[[${car.number}]]</th>
                <td>[[${car.tonnage}]]</td>
                <td>[[${car.status}]]</td>
                <td>
                    <a th:href="@{'/admin/car/' + ${car.id}}" title="Edit car"
                       class="fa-regular fa-pen-to-square icon-dark"></a>
                    &nbsp;
                    <a th:href="@{'/admin/car/delete/' + ${car.id} + '/' + ${car.number}}"
                       th:tutorialTitle="${car.number}" id="btnDelete"
                       title="Delete car" class="fa-regular fa-trash-can icon-dark btn-delete"></a>

                    <a th:href="@{/admin/car/new}" title="Add car"
                       class="fa-solid fa-plus" style="margin-left: 10px "></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="" th:unless="${cars.size() > 0}">
        <span>No cars found!</span>
    </div>
</div>

<div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Massage</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <span id="confirmText"></span>
            </div>

            <div class="modal-footer">
                <a type="button" id="yesBtn" class="btn btn-danger" style="background-color: #007bff;">Yes</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<br>
<!--<div th:replace="fragments/footer :: footer"></div>-->

<script type="text/javascript">
    $(document).ready(function () {
        $(".btn-delete").on("click", function (e) {
            e.preventDefault();
            link = $(this);

            tutorialTitle = link.attr("tutorialTitle");
            $("#yesBtn").attr("href", link.attr("href"));
            $("#confirmText").html("Do you want to delete the Car № \<strong\>" + tutorialTitle + "\<\/strong\>?");
            $("#confirmModal").modal();
        });

    });
</script>

</div>
</body>

</html>