<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>Spring Boot Thymeleaf example</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/users/style.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
<div th:replace="users/header :: header"></div>

<div class="container-fluid" style="max-width: 1400px; margin: 0 auto; font-size: 14px;">
    <br>
    <h4 class="text-center">Routes for <span th:text="${name}"/></h4>


    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div class="my-3">
        <form th:action="@{/users/routes}">
            <div class="row d-flex">
                <div class="col-md-6 mt-2">
                    <div class="search"
                         style=" width: 80%; display: flex; align-items: center; justify-content: center; column-gap: 10px">
                        <i class="fa fa-search"></i>
                        From <input id="arrivalDate" type="date" name="arrivalDate" th:value="${arrivalDate}" required
                                    class="form-control">
                        to <input id="departureDate" type="date" name="departureDate" th:value="${departureDate}"
                                  required
                                  class="form-control">
                        <button type="submit" class="btn btn-secondary" style="background-color: #007bff;">Search
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:if="${routes.size()> 0}">
        <table class="table table-hover table-responsive-xl">
            <thead class="thead-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">arrival date</th>
                <th scope="col">car</th>
                <th scope="col">arrival city</th>
                <th scope="col">address arrival</th>
                <th scope="col">departure date</th>
                <th scope="col">departure city</th>
                <th scope="col">address departure</th>
                <th scope="col">status</th>
                <th scope="col">edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="route:${routes}">
                <th scope="row">[[${route.number}]]</th>
                <td>[[${route.arrivaldate}]]</td>
                <td>[[${route.car.number}]]</td>
                <td>[[${route.cityArrival.name}]]</td>
                <td>[[${route.arrival_address}]]</td>
                <td>[[${route.departuredate}]]</td>
                <td>[[${route.cityDeparture.name}]]</td>
                <td>[[${route.departure_address}]]</td>
                <td>[[${route.status}]]</td>

                <td>
                    <a th:href="@{'/edit/' + ${route.id}}" title="Edit this tutorial"
                       class="fa-regular fa-pen-to-square icon-dark"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="" th:unless="${routes.size() > 0}">
        <span>No routes found!</span>
    </div>
</div>

<!--<div class="modal fade text-center" id="confirmModal">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">Delete Confirmation</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <span id="confirmText"></span>-->
<!--            </div>-->

<!--            <div class="modal-footer">-->
<!--                <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<br>
<div th:replace="fragments/footer :: footer"></div>

<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        $(".btn-delete").on("click", function (e) {-->
<!--            e.preventDefault();-->
<!--            link = $(this);-->

<!--            tutorialTitle = link.attr("tutorialTitle");-->
<!--            $("#yesBtn").attr("href", link.attr("href"));-->
<!--            $("#confirmText").html("Do you want to delete the Route № \<strong\>" + tutorialTitle + "\<\/strong\>?");-->
<!--            $("#confirmModal").modal();-->
<!--        });-->


<!--    });-->
<!--</script>-->

</div>
</body>

</html>